h1 {
	text-align: center;
}

body {
	background-color: #fbdde7;
	padding-bottom: 50px;
}

body h2{
	font-weight: bolder;
	border-bottom: 3px solid #222;
}

.social-icon{
	color: #9980FA;
	transition: 0.2s;
	text-decoration: none;
	margin: 0 10px;
	font-size: 30px;
}
.social-icon:hover{
	color: #0652DD;
}

img{
	width: 35%;
	height: auto;
	float: right;
    	margin: 5px;
    	padding-left: 80px;
    	padding-right: 50px;
    	padding-top: 70px;
}

p {
      text-align: justify;
      font-size: 20px;
}

.square{
	padding-bottom: 150px;
}

.category{
	position: absolute;
	left: 30%;
	right: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.btn{
	border: none;
	margin: 10px;
	padding: 24px;
	width: 300px;
	text-transform: uppercase;
	border-radius: 6px;
	cursor: pointer;
	color: #ffffff;
	background-size: 200%;
	transition: 0.6s;
}

.btn1{
	background-image: linear-gradient(to left, #12CBC4, #0652DD, #12CBC4);
}
.btn2{
	background-image: linear-gradient(to left, #FDA7DF, #9980FA, #FDA7DF);
}

.btn:hover{
	background-position: right;
	font-weight: 900;
}

@media only screen and (max-width: 480px){
	.btn{
		width: 150%;
		font-size: 3rem;
	}
}
