h1 {
	text-align: center;
}

body {
	background-color: #fbdde7;
	padding-bottom: 50px;
}

body h2{
	font-weight: bolder;
	border-bottom: 3px solid #222;
}

.social-icon{
	color: #9980FA;
	transition: 0.2s;
	text-decoration: none;
	margin: 0 10px;
	font-size: 30px;
}
.social-icon:hover{
	color: #0652DD;
}

.home{
	color: #0652DD;
}
.home:hover{
	color: #9980FA;
}

.gallery .box{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.gallery .box .section{
	display: flex;
	flex-direction: column;
	width: 50.5%;
	justify-content: space-between;
	align-items: center;
}

.gallery .box .section img{
	width: 80%;
	border-radius: 5px;
}

div.gallery .box .section .piece {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 450px;
}

div.gallery .piece:hover {
  border: 1px solid #777;
}

.gallery .box .section .piece img{
	width: 450px;
  	height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.btn{
	border: none;
	margin: 10px;
	padding: 12px;
	width: 220px;
	text-transform: uppercase;
	border-radius: 6px;
	cursor: pointer;
	color: #ffffff;
	background-size: 200%;
	transition: 0.6s;
}
.btn1{
	background-image: linear-gradient(to left, #12CBC4, #0652DD, #12CBC4);
}
.btn2{
	background-image: linear-gradient(to left, #FDA7DF, #9980FA, #FDA7DF);
}
.btn:hover{
	background-position: right;
}

section{
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

to-top{
	background-color: white;
	position: fixed;
	bottom: 16px;
	right: 32px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	colour: #1f1f1f;
	text-decoration: none;
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s;
}

.to-top.active{
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;
}

@media only screen and (max-width: 769px){
	.gallery .box{
		flex-direction: column;
	}
	.gallery .box .section{
		display: flex;
		flex-direction: column;
		width: 200%;
	}
}
